
{%extends "index.html"%}

{% block content %}
    <h2><strong>Vijesti</strong></h2><br><br><br><br>
    <ol class="tekst">
        {% for a in news_list %}
            <h3>       {{ a.title }}</h3>
            <p>        {{a.content}}</p><br>
            <h4><p class="autor">Članak napisao: {{ a.author }}</p>
            <p>Kategorija članka: {{a.category_name}}</p>
            <p>Datum objave: {{a.publication_date}}</p><br><br></h4>
            <hr><br><br><br>
        {% endfor %}
    </ol>
{% endblock %}